* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #141414;
  --fontFamily: "Helvetica Neue";
  --fontColorPrimary: #fff;
}

body {
  background-color: var(--background);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--fontColorPrimary);
}

/* HEADER SECTION */
.header {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.header .header__video {
  height: 100%;
  width: 100%;
}

.header__video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header__video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.header__info {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: 50px;
}

.header__info > *:not(:first-child) {
  margin-top: 32px;
}

.header__infoType {
  margin-left: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 10px;
}

.header__infoText {
  font-size: 48px;
}

.header__infoActions {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.header__infoActions > button {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  outline: 0;
  cursor: pointer;
  padding: 4px 36px;
  transition: opacity 400ms ease-in;
}

.header__infoActions > button:hover {
  opacity: 0.5;
}

.header__infoActions > button:not(:first-child) {
  margin-top: 8px;
}

.header__infoActions > button:last-child {
  background-color: rgba(109, 109, 100, 0.7);
  color: var(--fontColorPrimary);
}

@media only screen and (min-width: 996px) {
  .header__infoActions {
    flex-direction: row;
  }

  .header__infoActions > button:not(:first-child) {
    margin-top: 0;
    margin-left: 16px;
  }
}

/* END HEADER SECTION */
